.error-message{
  color: red;
}
.create-user-title {
    background: #1976d2;
    color: #ffffff;
    margin: auto;
}
.user-input {
    height: 40px;
}
.user-action {
    margin: 0px 7px 7px 7px;
}
.error-box {
  border-color: red;
}

.error-message{
  color: red !important;
  font-size: 12px !important;
}
